@charset "UTF-8";

body {
	font-family: 'Ubuntu', sans-serif;
	background: url('bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}


#toast{
	overflow:visible;
	background: rgba(234, 234, 251,0.8);
}


#weatherJumbotron {
	background: rgba(234, 234, 251,0.8);
}



